/* line 1, scss/_buttons.scss */
.btn {
  background: #e0e1dd;
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding: 5px 31px 5px 11px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}
/* line 10, scss/_buttons.scss */
.btn:link, .btn:visited {
  color: black;
  text-decoration: none;
}
/* line 15, scss/_buttons.scss */
.btn .promo-btn {
  padding: 8px 47px 12px 15px;
  background-color: #9a9b9c;
  border: none;
}
/* line 20, scss/_buttons.scss */
.btn .promo-btn:before {
  box-shadow: none;
}
/* line 24, scss/_buttons.scss */
.btn .promo-btn .promo-title {
  margin-bottom: 4px;
  color: black;
}
