.btn {
  background: $sage-light-grey;
  vertical-align: top;
  position: relative;
  display: inline-block;
  padding: 5px 31px 5px 11px;
  cursor: pointer;
  font-family: $arial-font-stack;

  &:link, &:visited {
    color: black;
    text-decoration: none;
  }

  .promo-btn {
    padding: 8px 47px 12px 15px;
    background-color: $sage-mid-grey;
    border: none;

    &:before {
      box-shadow: none;
    }

    .promo-title {
      margin-bottom: 4px;
      color: black;
    }
  }
}
