// Sage Colors

$sage-white:          rgba(255, 255, 255, 1);
$sage-green:          rgba(0, 127, 100, 1);
$sage-bright-green:   rgba(65, 169, 64, 1);
$sage-dark-grey:      rgba(77, 79, 83, 1);
$sage-mid-grey:       rgba(154, 155, 156, 1);
$sage-light-grey:     rgba(224, 225, 221, 1);
$sage-orange:         rgba(255, 88, 0, 1);
$sage-black:          rgba(0, 0, 0, 1);

// Sage Fonts
$arial-font-stack:    Arial, sans-serif;
$foco-font-stack:    Arial, sans-serif;
